* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdd8f3;
    color: #201f1f;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

/*SIDEBAR*/
.navbar {
    width: 100%;
    max-width: 12rem;
    border-right: 1px solid #2f2f30;
    padding: 1rem;
    background-color: #c4d1f2;
}

.nav-ul {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
}

/*NAVLINK*/
.nav-link {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 8px;
    color: #525256;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

/*MAIN CONTENT*/
.main-content {
    flex: 1;
    padding: 1rem;
}

.content-container {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

/*SEARCH BAR*/
.serach-bar {
    display: flex;
    justify-content: flex-end;
    border-radius: 1.5rem;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #b5b5b5;
    margin-bottom: 0.25rem;
}

.search-input {
    outline: none;
    font-size: 0.875rem;
    padding: 0.5rem;
}

.search-btn {
    border-left: 1px solid #b5b5b5;
    font-size: 0.875rem;
    padding: 0.5rem;
    background: none;
    cursor: pointer;
}

/*DYNAMIC CONTENT SECTIONS*/
.section-box {
    border: 1px solid #b5b5b5;
    padding: 1.5rem;
}

.hidden {
    display: none;
}